<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273348847455-c7iqhl0ri4tbgpve1hbt7839v6q63bll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273348847455-c7iqhl0ri4tbgpve1hbt7839v6q63bll</string>
	<key>API_KEY</key>
	<string>AIzaSyDcL8f4B7iyM3eLdzKrJ556-6ZGFSmF06Q</string>
	<key>GCM_SENDER_ID</key>
	<string>273348847455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oleksii.kolomiiets.TestGitHubProj</string>
	<key>PROJECT_ID</key>
	<string>testgit-36f07</string>
	<key>STORAGE_BUCKET</key>
	<string>testgit-36f07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273348847455:ios:c14b8bcb21b6bac6f538ea</string>
	<key>DATABASE_URL</key>
	<string>https://testgit-36f07.firebaseio.com</string>
</dict>
</plist>